**Lambda**

- lambda functions represents function concept 
- but we can write in a single line 
- like list comprehension, lambda functions also similar only
- it will decrease the time complexity
- always remember if we use many for loops or many conditions using multiple line, the time complexity will increase.

**It will use a keyword called lambda**
#lambda <arguements>: <expression>

In [3]:
def summ(n):
    return(n+10)
summ(10)
#func name= summ
#arg name = n
#return output n+10

20

$pattern-1$
- function with only one arguement
- function name
- arguement name
- return output

In [ ]:
# syntax
# <function name>= lambda <argument name>: <return output>

In [9]:
summ= lambda n: n+103
summ(10)

113

In [10]:
def cube(n):
    return(n**3)
cube(10)

1000

In [11]:
cube= lambda n: n**3
cube(10)

1000

$pattern-2$
- two arguements in a function

In [13]:
def sq(n,m):
    return(n**m)
sq(10,2)

100

In [14]:
sq= lambda n,m: n**m
sq(10,2)

100

In [15]:
def add(a,b):
    return a+b
add(50,50)

100

In [17]:
add=lambda a,b:a+b
add(50,60)

110

In [18]:
def avg(a,b):
    return (a+b)/2
avg(10,20)

15.0

In [26]:
avg= lambda a,b,c:round((a+b+c)/3,2)
avg(100,202,308)

203.33

$pattern-3$
- default arguements

In [27]:
add=lambda a=10,b=20:a+b
add()

30

In [28]:
avg= lambda a,b,c=300:round((a+b+c)/3,2)
avg(100,202)

200.67

$pattern-4$
- if- else

In [ ]:
# syntax:function name = lambda arguements: <ifoutput if if condition else elseoutput>
# syntax:function name = lambda arguements: <list comprehension>

In [30]:
def maxy(a,b):
    if a>b:
        return a
    else:
        return b
maxy(10,20)

20

In [31]:
maxy=lambda a,b: a if a>b else b
maxy(10,20)

20

$pattern-5$
- using list operations

In [32]:
l=['hyd','chennai','mumbai']
op=[]
for i in l:
    op.append(i.capitalize())
op

['Hyd', 'Chennai', 'Mumbai']

In [ ]:
lambda <variable>:<op>
#variable:i
#op: i.capitalize()
lambda <variable>:<op>,<iterator>
#<iterator>:list

In [37]:
l=['hyd','chennai','mumbai']
lambda i:i.capitalize(),l

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

**map**
- the function and iterator are available now
- we need to map both

In [38]:
l=['hyd','chennai','mumbai']
map(lambda i:i.capitalize(),l)

In [ ]:
#apply the list to see the values

In [39]:
l=['hyd','chennai','mumbai']
list(map(lambda i:i.capitalize(),l))

['Hyd', 'Chennai', 'Mumbai']

In [40]:
l=['hyd','chennai','mumbai']
tuple(map(lambda i:i.capitalize(),l))

('Hyd', 'Chennai', 'Mumbai')

- step1: write your normal expression 
-       ex: lambda <variable>: <op>===>lambda i: i.capitalize()
- step2: add the iterator
-       ex: lambda <variable>: <op>,<list>===>lambda i: i.capitalize(),list1
- step3: map the both
-       ex: map(lambda <variable>: <op>,<list>)===>map(lambda i: i.capitalize(),list1)
- step4: save the values in a list
-       ex: list(map(lambda <variable>: <op>,<list>))===>list(map(lambda i: i.capitalize(),list1))
#note: those who are getting list objct not callable use tuple

- case1:- function call with one arguement
    - lambda arguements: Expression
    - lambda variables: return output
- case2:- function call with two arguements
    - lambda arg1,arg2:expression
    - lambda var1,var2: return output
- case3:- function call with default arguements
    - lambda arg1,arg2=500: Expression
    - lambda var1,var2=500: return output
- case4:- function call with 2 arguements and if- else statement
    - lambda arg1,arg2:Expression
    - lambda var1, var2: if_output if_con else els_op for loop
- case5:- lambda operation using list
    - lambda arg: expression, iterator
    - map(lambda var: operation, list)  
    - list(map(lambda var: operation, list))

In [3]:
l=['hyd','chennai','mumbai']
lambda i: i.upper(),l

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

In [4]:
map(lambda i: i.upper(),l)

In [5]:
list(map(lambda i: i.upper(),l))

['HYD', 'CHENNAI', 'MUMBAI']

In [6]:
tuple(map(lambda i: i.upper(),l))

('HYD', 'CHENNAI', 'MUMBAI')

In [7]:
ls=['hyd','che#nnai','mum#bai','blr']
lambda i:i if '#' in i ,for i in ls
# not use if and for like this

SyntaxError: invalid syntax (1195214711.py, line 2)

In [13]:
ls=['hyd','che#nnai','mum#bai','blr']
list(filter(lambda i:'#' in i ,ls))
#use if and for like this 
#if any itrations are occur use filter instead of map

['che#nnai', 'mum#bai']

In [14]:
#if we use map we got the output like this
ls=['hyd','che#nnai','mum#bai','blr']
list(map(lambda i:'#' in i ,ls))

[False, True, True, False]

**Filter**

In [15]:
num=[1,3,2,7,6]
list(filter(lambda i:i%2==0,num))

[2, 6]

In [17]:
num=[1,3,2,7,6]
m=[]
for i in num:
    if i%2==0:
        m.append(i)
m

[2, 6]

**reduce**
- all inbuilt functions can achieve by reduse
- reduce is available from functools package
- level-1 reduce(lambda summ:summ_i,l1)
- level-2: filter(lambda summ: summ+i,l1,initial_value)
- for example we want initialize summ=0 then we choose level-1
- for example we want start with other than zero then we choose level-2

In [34]:
l1=[1,2,3,4,5]
list(filter(lambda summ,i:summ+i,l1))

TypeError: <lambda>() missing 1 required positional argument: 'i'

In [39]:
import functools
dir(functools)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [41]:
# case-1
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l1)

15

In [42]:
#case-2
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1)

15

In [43]:
#case-3
import functools as ft
l1=[1,2,3,4,5]
ft.reduce(lambda summ,i:summ+i,l1)

15

In [45]:
import functools as ft
ft.reduce(lambda summ,i:summ+i,[1,2,3,4,5])

15

In [51]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1[1:])

14

In [52]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1,3)

18

In [7]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda x,y:x if x>y else y ,l1)

5

In [62]:
import functools
functools

In [ ]:
#max value using reduce
# map: direct attack
#filter: if conditions
#reduce: inbuilt functions some initialization
#detailed word documnt with one example

In [5]:
from functools import reduce

nums = [1, 9, 3, 20, 5]

maxv = reduce(lambda x, y: x if x > y else y, nums)

print(maxv)

20