- we can store the output values by using append operations
- we are taking empty list 
- we are iterating through elements from a given list
- the result we are appending in a new list

In [1]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- There are almost 3 lines are in the process
- the three lines we can make into a single line
- this is called as list comprehension

$pattern-1$
**only for loop**

In [2]:
#syntax
#[<output>  <for loop>]
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
l1=['hyd','mumbai','chennai','blr']
[i.upper() for i in l1]

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [5]:
l2=['HYD', 'MUMBAI', 'CHENNAI', 'BLR']
[i.lower() for i in l2]

['hyd', 'mumbai', 'chennai', 'blr']

In [6]:
l1=['hyd','mumbai','chennai','blr']
up_list=[]
for i in l1:
    up_list.append(i.upper())
up_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [7]:
l1=['hyd','mumbai','chennai','blr']
up_list=[i.upper() for i in l1]
up_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [8]:
l2=['HYD', 'MUMBAI', 'CHENNAI', 'BLR']
lw_list=[]
for i in l2:
    lw_list.append(i.lower())
lw_list

['hyd', 'mumbai', 'chennai', 'blr']

In [12]:
l1=['hyd','mumbai','chennai','blr']
sum1=0
sum_list=[]
for i in range(len(l1)):
    sum_list.append(i)
    sum1+=i
print(sum_list)
print(sum1)

[0, 1, 2, 3]
6

In [14]:
l1=['hyd','mumbai','chennai','blr']
sum_list=[i for i in range(len(l1))]
sum_list

[0, 1, 2, 3]

- making empty list will not works in list comprehension
- initializations will not works in list comprehension
- assignment operations also not works

$pattern-2$

**for loop - if condition**

In [15]:
#syntax
#[<output>  <for loop>  <if condition>]
#we want elements which are len>4
l5=['hyd','mumbai','chennai','blr']
for i in l5:
    if len(i)>4:
        print(i)

mumbai
chennai

In [16]:
l5=['hyd','mumbai','chennai','blr']
[i for i in l5  if len(i)>4]

['mumbai', 'chennai']

In [17]:
l6=['hyd','mum#bai','chennai','bl#r']
[i for i in l6  if '#' in i]

['mum#bai', 'bl#r']

In [18]:
l7=['Hyd','mumbai','chennai','Blr']
[i for i in l7  if i[0].isupper()]

['Hyd', 'Blr']

In [16]:
l8=['hyd','mum#bai','chennai','bl#r']
ls=[]
lt=[]
in_list=[ls.append(i)  if '#' in i  else lt.append(i)  for i in l8]
print(ls)
print(lt)

['mum#bai', 'bl#r']
['hyd', 'chennai']

In [1]:
str1='virat.kohli@rcb.com,rohit.sharma@mi.com,KL.rahul@lucknow.com'
ls1=str1.split(',')
for i in ls1:
    print(i[:i.index('.')])
    
#list1[0][:list[0].index('.')]
#list1[1][:list[1].index('.')]
#list1[2][:list[2].index('.')]

virat
rohit
KL

In [2]:
f_name=[]
s_name=[]
c_name=[]
for i in ls1:
    f_name.append(i[:i.index('.')])
    s_name.append(i[i.index('.')+1:i.index('@')])
    c_name.append(i[i.index('@')+1:i.index('.com')])
print(f_name)
print(s_name)
print(c_name)

['virat', 'rohit', 'KL']
['kohli', 'sharma', 'rahul']
['rcb', 'mi', 'lucknow']

In [ ]:
[<output> <for loop>]:for loop
[<output><for loop><if condition>]:for if
[<if output> <if> <else> <else output> <for>]:if else for

**even-odd**

In [22]:
el=[]
ol=[]
for i in range(1,20):
    if i%2==0:
        el.append(f"even= {i}")
    else:
        ol.append(f"odd= {i}")

In [23]:
el,ol

(['even= 2',
  'even= 4',
  'even= 6',
  'even= 8',
  'even= 10',
  'even= 12',
  'even= 14',
  'even= 16',
  'even= 18'],
 ['odd= 1',
  'odd= 3',
  'odd= 5',
  'odd= 7',
  'odd= 9',
  'odd= 11',
  'odd= 13',
  'odd= 15',
  'odd= 17',
  'odd= 19'])

In [25]:
lk=[]
lm=[]
[lk.append(f"even= {i}") if i%2==0 else lm.append(f"odd= {i}") for i in range(1,20)]
lk,lm

(['even= 2',
  'even= 4',
  'even= 6',
  'even= 8',
  'even= 10',
  'even= 12',
  'even= 14',
  'even= 16',
  'even= 18'],
 ['odd= 1',
  'odd= 3',
  'odd= 5',
  'odd= 7',
  'odd= 9',
  'odd= 11',
  'odd= 13',
  'odd= 15',
  'odd= 17',
  'odd= 19'])