- Representations

- type

- len

- max

- min

- sorted

- reversed

- in

- for loop in

- index

- for loop index

- mutable

- concatenation

- slicing

- methods

**Representations**

- string represntation with quotes

- list represnt with  square brackets []

In [1]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [2]:
type(l1)

list

In [3]:
l2=['A','B','C','D']
l2

['A', 'B', 'C', 'D']

In [4]:
l3=[1,2,3,4,'A','B','C','D']
l3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [5]:
l4=[1,2,3,'Apple','Ball','Cat',True,False]
l4

[1, 2, 3, 'Apple', 'Ball', 'Cat', True, False]

In [2]:
name='naresh it'
l5=[name]
l5

['naresh it']

In [7]:
l6=[100,100,100]
l6

[100, 100, 100]

In [8]:
l7=[100,'Apple',['A',2]]
l7

[100, 'Apple', ['A', 2]]

In [9]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l3=[1,2,3,4,'A','B','C','D']
l4=[1,2,3,'Apple','Ball','Cat',True,False]
name='naresh it'
l5=[name]
l6=[100,100,100]
l7=[100,'Apple',['A',2]]

- list are array of elements

- list elements are heterogeneous all the data types we can represent in a list

- list elements are allowed duplicates

- list in list is possible 

- variable assignment also possible in the list

- len

- max

- min

- sorted

- reversed

In [2]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l3=[1,2,3,4,'A','B','C','D']
l4=[1,2,3,'Apple','Ball','Cat',True,False]
name='naresh it'
l5=[name]
l6=[100,100,100]
l7=[100,'Apple',['A',2]]
len()
max()
min()
sorted()
reversed()

TypeError: len() takes exactly one argument (0 given)

In [6]:
l6[2]=10
l6

[100, 100, 10]

In [5]:
l4=[1,2,3,'Apple','Ball','Cat',True,False]
reversed(l4)

In [8]:
for i in reversed(l4):
    print(i,end=" ")

False True Cat Ball Apple 3 2 1

In [13]:
l4=[1,2,3,'Apple','Ball','Cat',True,False]
list(reversed(l4))

[False, True, 'Cat', 'Ball', 'Apple', 3, 2, 1]

In [14]:
name=['adithya','aadithya','banu']
max(name)
# First compare all first letters
# If all first letters ascii values same
# then compare with second letters
# Continue the process

'banu'

In [9]:
list1=['Apple',1,['Cherry','Banana']
      ]
len(list1)

3

In [16]:
list1=[65,'A']
max(list1) # error

# same data type only comparable

TypeError: '>' not supported between instances of 'str' and 'int'

In [17]:
l4=[1,2,3,'Apple','Ball','Cat',True,False]

#-8  -7  -6    -5     -4    -3    -2    -1
#1    2   3   Apple  Ball  Cat   True   False
#0    1   2    3      4     5      6     7

In [18]:
l4[3],l4[-5]

('Apple', 'Apple')

In [19]:
l1=[1,[2]]
l1[0]

1

In [20]:
new=l1[1]
new[0]

2

In [21]:
l1=[1,[2]]
new=l1[1]  #  [2]   will come again it is a list, one element
new[0]

l1[1][0]

2

In [22]:
l1=[1,[2,'A']]
l1[1][1]

# 'A' is presented at index  1
# so we given l1[1] : [2,'A'] it is also a list
# The list has two elements
# 'A' at 1st index
# l1[1][1]

'A'

In [23]:
# How to get 'A'
#  1    [2,'A']
#  0      1
l1=[1,[2,'A']]
# Q1) How many elements are there in a list: 2
# Q2) 'A' is at which index : 
# In python index start at  0
# 0 and 1
l1[1]    #  [2,'A']
# Q3) l1[1]  output is which type list
# Q4) 'A'  1
l1[1][1]

'A'

In [24]:
l1=[1,  # 0
    [2,['A','B']]  # 1
   ]
# I want 'B'
# How many elements
len(l1)
l1[1][1]

['A', 'B']

In [25]:
l1=[1,2,[3,[4,[5,['Apple']]]]]
# 2110
# 21110
len(l1)  #  index=2
l1[2][1][1][1][0]

'Apple'

In [26]:
list1=['Apple',
       1,
       'Solapur',
       ['cherry','papaya',70,[123,'Banana'],
        'tomato'],
       'python'] #get banana  331
list1[3][3][1]

'Banana'

In [27]:
list1=[[[[[[[1,'Cherry']]]]]]]
list1[0][0][0][0][0][0][1]

'Cherry'

In [28]:
list1=['MH',
       ['Nagpur',['Orange',['likes',['king'],['shivaji',['Son',['shmbaji']]]]]
       ]]
len(list1)

2

In [29]:
list1[1][1][1][2][1][1][0]

'shmbaji'

In [30]:
# In operator : For loop
# Index : For loop
# Mutability check
# Slicing
#

In [31]:
l4=[1,2,3,'A','B','C',True,False]

#-8  -7   -6   -5     -4    -3    -2    -1
#1   2    3    'A'    'B'   'C'   True  False
#0   1    2     3      4     5     6     7
for i in range(len(l4)):
    print(l4[i])

1
2
3
A
B
C
True
False

In [32]:
l4=[1,2,3,'A','B','C',True,False]
for i in range(len(l4)):
    print(f"The postive index of {l4[i]} is {i}")

s='welcome'
for i in range(len(s)):
    print(f"The postive index of {s[i]} is {i}")

The postive index of 1 is 0
The postive index of 2 is 1
The postive index of 3 is 2
The postive index of A is 3
The postive index of B is 4
The postive index of C is 5
The postive index of True is 6
The postive index of False is 7
The postive index of w is 0
The postive index of e is 1
The postive index of l is 2
The postive index of c is 3
The postive index of o is 4
The postive index of m is 5
The postive index of e is 6

In [33]:
l4=[1,2,3,'A','B','C',True,False]
for i in range(len(l4)):
    print(f"The postive index of {l4[i]} is {i}")

The postive index of 1 is 0
The postive index of 2 is 1
The postive index of 3 is 2
The postive index of A is 3
The postive index of B is 4
The postive index of C is 5
The postive index of True is 6
The postive index of False is 7

In [35]:
# We want to change 1  with 100
l=[1,2,3]
l[0]=100
l

#Hi Sir - how the string is immutable  please explain
s='Naresh'
# We want to change 'h'  'I'
s[5]='I'

# TypeError: 'str' object does not support item assignment
# Not able

TypeError: 'str' object does not support item assignment

In [36]:
l=[1,2,3,4,5,6,'A','B','C','D','E','F','G']
-13  -12  -11  -10  -9   -8  -7  -6  -5  -4  -3  -2  -1
1,    2,   3,   4,   5,   6, 'A','B','C','D','E','F','G'
0     1    2    3    4    5   6   7   8   9   10  11  12

l[3:9:2] # P
l[3:9:-2] # Np
l[3:-9:2] # -----
l[3:-9:-2] # Np
l[-3:9:2]  # Np
l[-3:-9:-2] # W
l[-3:9:-2]

SyntaxError: invalid syntax (2257408919.py, line 4)

In [37]:
l=[1,2,3,4,5,6,'A','B','C','D','E','F','G']
l[3:-9:2]
# start=3
# dire =+ve
# last= stop-1 = -9-1=-10

l[-3:9:-2]

['E']

In [38]:
# Tomorrow you have a exam
# MCQ in Python

# Sunday you dont have class

# Friday 50-50 (26)
# Sat (27)
# Sun (28)

# Aug 4 class
# Aug 11 class

In [39]:
# strings dir('')
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

**append**

- adding elements in a list at last index

- append method is very important

- most of the time we will use append in the real time

- When you add the value the original list will be overwrite

In [40]:
l=['Apple','Ball','Cat']
l

['Apple', 'Ball', 'Cat']

In [41]:
# You want to add Doll in a given list

# Keywords  vs methods
len()
max()
min()
reversed()
sorted()

# Methods
<package>.<method>()
# we already discussed
# Data types has own method
# <data type>.<method>
# <pacckage>.<methods>

SyntaxError: invalid syntax (2173214698.py, line 11)

In [42]:
l.append('Doll')

In [43]:
l

['Apple', 'Ball', 'Cat', 'Doll']

In [44]:
l1=[1,2,3,4]
l1.append(100)
l1

[1, 2, 3, 4, 100]

In [45]:
l2=[]
l2.append(10)
l2.append(20)
l2.append('apple')
l2.append(['A',1])
l2.append(True)
l2

[10, 20, 'apple', ['A', 1], True]

In [46]:
list.append() takes exactly one argument how can we add more in one statement sir
l1.append(100,200,300)  # Error

SyntaxError: invalid syntax (2383844822.py, line 1)

In [47]:
for i in range(1,6):
    print(i*i)

1
4
9
16
25

In [48]:
square_list=[]
for i in range(1,6):
    square_list.append(i*i)
# print ==== square_list.append
square_list

[1, 4, 9, 16, 25]

In [49]:
s=''
for i in 'python':
    s=s+i

# str='hai hai hai'
# what are  index of  'a'
# save that index numbers in a list

In [50]:
str1='hai hai hai'
id_list=[]
for i in range(len(str1)):
    if str1[i]=='a':
        id_list.append(i)

id_list,sum(id_list)

([1, 5, 9], 15)

In [51]:
summ=0
str1='hai hai hai'
for i in range(len(str1)):
    if str1[i]=='a':
        summ=summ+i

summ

15

In [ ]:
# Q2)l1=['Hyd','Mumbai','Chennai','blr']
#  ans=['Mumbai','Chennai']  
#  we want lements which are len of element >4

# Q3)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans=['Mum#bai'',Chen#nai']  
#  we want lements which are having '#'

# Q4)l1=['hyd','mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai','Chennai','Blr']
#  we want lements which are len of element >4

# Q5)l1=['Hyd','Mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai']
#  we want lements which are having first letter capital

# Q6)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans_#=['Mum#bai'',Chen#nai']  
#  ans_without_#=['Hyd'','blr'] 
#  we want lements which are having '#'

# Q7) ask the user get 5 numbers randomly
#     even_list and odd_list
#     even numbers should append at even_list
#     odd number should append at odd_list

# Q8) str='hello hai how are you'
# Maximum len of word using split and max method
# sum of all the indexes of the maximum len of word using append

# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        thirs name will be in thirs name list

# 10 ) 
#  You have two lists
# qns=['What is capital of India',
       'Who is PM of india',
        'Who is ICT ODI captian']
# ans = ['Delhi','Modi','Rohit']

# For i in qns:
#     print(i)
#     ans= delhi
#      index should match
#      delhi  modi 
#      marks= marks+1
# print the total marks

In [52]:
# Q2)l1=['Hyd','Mumbai','Chennai','blr']
#  ans=['Mumbai','Chennai']  
#  we want lements which are len of element >4
l1=['Hyd','Mumbai','Chennai','blr']
ans=[]
for i in l1:
    if len(i)>4:
        ans.append(i)
ans

['Mumbai', 'Chennai']

In [53]:
# Q3)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans=['Mum#bai'',Chen#nai']  
#  we want lements which are having '#'
l1=['Hyd','Mumb#ai','Chen#nai','blr']
ans=[]
for i in l1:
    if '#' in i:
        ans.append(i)
ans

['Mumb#ai', 'Chen#nai']

In [55]:
l1=['Hyd','Mumb#ai','Chen#nai','blr']
for i in l1:
    if i in '#':

IndentationError: expected an indented block (40462378.py, line 3)

In [56]:
'nadeem' in '#'  # 'nadeem' is avialable in '#'
'#' in 'nadeem'  # is '#'  available in 'nadeem'
'nad##m' in '#'  # is 'nad##m'  avaialabe in '#'
'#' in 'nad##m'  # is '#'  avaialabe in 'nad##m'

True

In [57]:
# Q5)l1=['Hyd','Mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai']
#  we want lements which are having first letter capital
l1=['Hyd','Mumbai','Chennai','blr']
ans=[]
for i in l1:
    ans.append(i.capitalize())
ans

# what is the difference betweeb capitalize and title

['Hyd', 'Mumbai', 'Chennai', 'Blr']

In [58]:
str1='hello im learning python'
# Make everyword capitalize
str1.title()

'Hello Im Learning Python'

In [59]:
# Do the same using capitalize method
# step-1: split the string
# step-2: take empty list
# step-3: iterate the each letter apply capitlize and append it
# step-4: join the list

**split-join**

- split will apply for strings , to divide the words or characters

- when we split the elements will be stored in a list format

- Join is used to combine the elements of a list in a string format

- **split-strings**

- **join-list**

In [60]:
str1='hello im learning python'
words=str1.split()
new_words=[]
for i in words:
    new_words.append(i.capitalize())
' '.join(new_words)

'Hello Im Learning Python'

In [61]:
# Calculate the distance between two points
# a=[1,2] 
# b=[4,5]
# a=[x1,x2]
# b=[y1,y2]
# step-0: Import math
# step-1:v1= x2-x1=a[2]-a[1]   === index
# step-2:v2= y2-y1=b[2]-b[1]   === index
# step-3: v11=v1**2
# step-4: v22=v2**2
# step-5: ans=math.sqrt(v11+v22)
import math
a= [1,2]
b = [1,5]
v1 = a[1]-a[0]
v2 = b[1]-b[0]
v11 = v1**2
v22 = v2**2
print(math.sqrt(v11+v22))

4.123105625617661

In [62]:
import math
a= [1,2]
b = [1,5]
print(math.sqrt(math.pow((a[1]-a[0]),2)+math.pow((b[1]-b[0]),2)))

4.123105625617661

In [63]:
[1,2,3,4,5,4,3,2,1]
[100,500,600,700,400,300,50]

[100, 500, 600, 700, 400, 300, 50]

In [64]:
pints=[[1,2],[2,3],[3,4]]
val=[2,3]

# calculate the distance between val [2,3] to each and every point
# and find the maximum distance
import math
a= [1,2]  # [x1,y1]   
b = [1,5] # [x2,y2]
# for loop
v1 = b[0]-a[0] # x2-x1
v2 = b[1]-a[1] # y2-y1
v11 = v1**2
v22 = v2**2
print(math.sqrt(v11+v22))

3.0

In [65]:
points=[[1,2],[2,3],[3,4]]
val=[2,3]
# [1,2]  vs   [2,3]
# [2,3]  vs   [2,3]
# [3,4]  vs  [2,3]
for i in points:
    print(i[0],i[1])  # x1,y1
    print(val[0],val[1]) # x2,y2
    print('====================')

1 2
2 3
====================
2 3
2 3
====================
3 4
2 3
====================

In [66]:
points=[[1,2],[2,3],[5,6]]
val=[2,3]
ans=[]
for i in points:
    print(i[0],i[1])
    print(val[0],val[1])
    o1=val[0]-i[0]
    o2=val[1]-i[1]
    print(f"{val[1]}-{val[0]}={o1},{val[0]}-{i[0]}={o2}")
    v11 = o1**2
    v22 = o2**2
    print(math.sqrt(v11+v22))
    ans.append(math.sqrt(v11+v22))
    print('=======================')

1 2
2 3
3-2=1,2-1=1
1.4142135623730951
=======================
2 3
2 3
3-2=0,2-2=0
0.0
=======================
5 6
2 3
3-2=-3,2-5=-3
4.242640687119285
=======================

In [67]:
max(ans)

4.242640687119285

In [68]:
# Q8) str='hello hai how are you'
# Maximum len of word using split and max method
# sum of all the indexes of the maximum len of word using append
str1='hello hai how are you'
words=str1.split()
str2=[]
for i in words:
    x=len(i)
    str2.append(x)
str2

[5, 3, 3, 3, 3]

In [71]:
str1='hello hai how are you'
words=str1.split()
len_Words=[]
for i in words:
    x=len(i)
    len_words.append(x)
max_len=max(len_words)

for i in words:
    if len(i)==max_len:
        print(i)

# First we are splitting
# the we are calculating each and every len of words and append in a list
# we  are taking the max value from the list

# again we are itertating words list
# calculating len of each word
# if that word length equal to max value 
# then that is our answer

hello  == 0
01234

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1591386366.py, line 23)

In [72]:
str1='hello hai how are you'
words=str1.split()
max(words)
len_words=[5,3,3,3,3]
max(len_words)

5

In [7]:
# 10 )
#  You have two lists
# qns=['What is capital of India',
#       'Who is PM of india',
#        'Who is ICT ODI captian']
# ans = ['Delhi','Modi','Rohit']

# For i in qns:
#     print(i)
#     ans= delhi
#      index should match
#      delhi  modi
#      marks= marks+1
# print the total marks
qns=['What is capital of India', 'Who is PM of india', 'Who is ICT ODI captain']
ans = ['Delhi','Modi','Rohit']
marks=0
c=0
for i in range(len(qns)):
    a=input(qns[i])
    if a.lower()==ans[i].lower():
        marks=marks+1
    else:
        c+=1
print("the total marks are:", marks)
print("the total wrong qns are:", c)

What is capital of Indiadehi
Who is PM of indiamodi
Who is ICT ODI captainrohit
the total marks are: 2
the total wrong qns are: 1

In [8]:
dir('list')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
'clear','copy','count','extend','index','insert','pop','remove','reverse','sort'
'append'vs 'extend' vs 'concatenation' vs 'insert'
'pop' vs'remove'
'sort'vs'sorted'
'index'
'count'
'clear' and'copy'

In [15]:
ls=[1,2,3,4,5,'navya','sri','reddy',True,False]
ls.index('navya')

5

In [16]:
ls.count(4)

1

In [21]:
ls1=[1,6,4,3,8,0]
sorted(ls1)

[0, 1, 3, 4, 6, 8]

In [37]:
print(ls1.sort())

None

In [28]:
print(ls1.clear())

None

In [33]:
print(reverse(ls))

NameError: name 'reverse' is not defined

In [44]:
print(reversed(ls1))

<list_reverseiterator object at 0x000001EA05B7D2E0>

In [43]:
ls2=[5,3,5,6,8,1,2,0]
ls1=[1,6,4,3,8,0]
ls1.extend(ls2)
print(ls1)

[1, 6, 4, 3, 8, 0, 5, 3, 5, 6, 8, 1, 2, 0]

In [45]:
print(reversed(ls2))

<list_reverseiterator object at 0x000001EA05B7D3A0>

In [47]:
ls3=ls1.copy()
ls3

[1, 6, 4, 3, 8, 0, 5, 3, 5, 6, 8, 1, 2, 0]

In [49]:
ls1.clear()
ls1

[]

In [50]:
ls2

[1, 6, 4, 3, 8, 0, 5, 3, 5, 6, 8, 1, 2, 0]

In [51]:
ls3

[1, 6, 4, 3, 8, 0, 5, 3, 5, 6, 8, 1, 2, 0]

In [55]:
ls2.pop(4)
ls2

[1, 6, 4, 3, 5, 3, 6, 8, 1, 2]

In [59]:
l1=[1,2,3,4]
l2=['a','b','c']
l1.append(l2)
print(l1)
print(l2)

[1, 2, 3, 4, ['a', 'b', 'c']]
['a', 'b', 'c']

In [57]:
l1+l2

[1, 2, 3, 4, ['a', 'b', 'c'], 'a', 'b', 'c']

In [58]:
l1=[1,2,3,4]
l2=['a','b','c']
l1+l2

[1, 2, 3, 4, 'a', 'b', 'c']

In [60]:
l1=[1,2,3,4]
l2=['a','b','c']
l1.extend(l2)
print(l1)
print(l2)

[1, 2, 3, 4, 'a', 'b', 'c']
['a', 'b', 'c']

In [61]:
l4=[1,2,3]
l4.extend("navya")
l4

[1, 2, 3, 'n', 'a', 'v', 'y', 'a']

In [64]:
l5=[1,2,3]
l5.extend(10,100)
l5

TypeError: list.extend() takes exactly one argument (2 given)

In [63]:
l5=[1,2,3]
l5.extend([10,100])
l5

[1, 2, 3, 10, 100]

- append just append the value with base data type
- extend is concatenate the value, and the list will be overwrite with new values
- extend can take any iterable format type i.e. string, list, tuple
- extend and concatnation both are same
- the list will not overwrite in concatenation

**index**
- same like string only

In [65]:
l1=[1,2,3,4,5,10,20,30]
l1.index(2)

1

In [67]:
l1=[1,2,3,4,5,10,20,30,3]

i1=l1.index(3)
i2=l1.index(3,i1+1)
i1,i2

(2, 8)

In [69]:
i3=l1.index(3,1,5)
i3

2

- case1: directly get the index
- case2: next value index, by providing start
- cas3: between the values

- copy/ clear
- count is exactly same as the stings
-

**insert**
- will insert the element based on index
- append will add the element at last only

In [17]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
l1.insert(3,'Banana')
l1

[1, 2, 3, 'Banana', 'Apple', 10, 20, 'Apple', 40]

In [21]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
i1=l1.index('Apple')
l1.insert(i1,'Banana')
l1

[1, 2, 3, 'Banana', 'Apple', 10, 20, 'Apple', 40]

In [23]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
i1=l1.index(40)
l1.insert(i1,'Banana')
l1

[1, 2, 3, 'Apple', 10, 20, 'Apple', 'Banana', 40]

In [25]:
#if we want to insert an element before 2nd apple then how?
#step-1:finde the index of 2nd apple
#step2: how to find the 2nd apple index
l1=[1,2,3,'Apple',10,20,'Apple',40]
i1=l1.index('Apple')
i2=l1.index('Apple',i1+1)
l1.insert(i2,'Banana')
l1

[1, 2, 3, 'Apple', 10, 20, 'Banana', 'Apple', 40]

**pop-remove-del**
- pop will remove the item and display the item which is removing
- pop will take 1 arguement :index
- pop will remove th item based on index
- if you dont provide any index by default it will remove last value
- because the default index value is -1

In [27]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
l1.pop()

40

In [28]:
l1

[1, 2, 3, 'Apple', 10, 20, 'Apple']

In [32]:
l1

[1, 2, 'Apple', 10, 20, 'Apple']

In [41]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
i1=l1.index('Apple')
l1.pop(i1)
i2=l1.index('Apple',i1+1)
l1.pop(i2)
l1

[1, 2, 3, 10, 20, 40]

In [42]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
i1=l1.index('Apple')
l1.pop(i1)
i1=l1.index('Apple')
l1.pop(i1)
l1

[1, 2, 3, 10, 20, 40]

In [43]:
l1=[1,2,3,'Apple',10,20,'Apple',40,'Apple']
i1=l1.index('Apple')
l1.pop(i1)
i1=l1.index('Apple')
l1.pop(i1)
i1=l1.index('Apple')
l1.pop(i1)
l1

[1, 2, 3, 10, 20, 40]

In [49]:
str1='hai apple how are you apple i am good apple thank you apple'
l1=str1.split(' ')
for i in l1:
    if i=='apple':
        i1=l1.index('apple')
        l1.pop(i1)
' '.join(l1)

'hai how are you i am good thank you'

- pop will take the index
- remove will take the value
- remove will delete the first occuurence of the element

In [51]:
l1=[1,2,3,'Apple',10,20,'Apple',40,'Apple']
l1.remove(10)
l1

[1, 2, 3, 'Apple', 20, 'Apple', 40, 'Apple']

In [52]:
str1='hai apple how are you apple i am good apple thank you apple'
l1=str1.split(' ')
for i in l1:
    if i=='apple':
        l1.remove('apple')
' '.join(l1)

'hai how are you i am good thank you'

**del**

In [55]:
l1=[1,2,3,'Apple',10,20,'Apple',40,'Apple']
del(l1[3])
l1

[1, 2, 3, 10, 20, 'Apple', 40, 'Apple']

- append extend insert concatenation
- pop remove del
- sort sorted 
- reverse reversed
- count index

- representation 
- type
- len
- max
- min
- sort
- sorted
- reverse
- reversed
- in
- for with in
- index
- for with index
- mutable
- immutable
- slicing
- concatenation
- methods

In [56]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [4]:
s=input()
for i in range(len(s)):
    k=s.replace(s[1],'*')
print(k+"!!!")

swathi
s*athi!!!