########python divided 3 parts##########
-------  Basics
- 1)variables
- 2)Data types
- 3)type conversions
- 4)eval input
- 5)packages
- 6)conditional statements
- 7)try-except
- 8)functions
- 9)for
- 10)while
--------------intermediate part
- 11)strings
- 12)lists
- 13)dictionary
- 14)tuples
- 15)sets
- 16)lambda functions
- 17)file handling 
----------------advanced
- 18)oops

----------------------part-1--------------------
- initialization
- type
- len
- max
- min
- sorted
- reversed
- in 
- for loop using in 
- indexing
- for loop using indexing
- mutable concept
- concatenation
--------------------------part-2-------------------------
- #methods

**initializtion**

In [1]:
str1="python"
str1

'python'

**note**

- if we mentioned single quots or double quotes by default python provides in single quotes only
- if we mentioned print the strings we will see answers without codes
- triple quotes are using for doc string
- in order to convey the information about coding part we will use doc string
- anything inside single ,double quotes is considered as a string in python

***triple quotes***

In [5]:
str3=""" hi how are you i am good"""

In [6]:
str3

' hi how are you i am good'

**type**

In [7]:
type(str1)

str

In [8]:
str4='10'#integer value in the form of string
str5='10.6'#float valuee in the form of string
str6='123abc'#alphanumeric  in the form of string
str7='True'#boolean can also in the form of string

**len**

In [9]:
str1="python"
str1

'python'

In [10]:
len(str1)

6

**max**

In [11]:
a=10
b=20
max(a,b)

20

**min**

In [13]:
a=10
b=20
min(a,b)

10

In [14]:
max(str1)

'y'

In [15]:
min(str1)

'h'

In [16]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

**keywords v/s methods**

##methods##
- in order to use methods we need to call package
import random
random.randint()

import math
math.sqrt()
 
import time
time.slep()

In [ ]:
type(<>)
max(<>)
min(<>)
len(<>)
print(<>)
input(<>)
sum(<>)
eval(<>)

**sum**

In [21]:
str1='python'
sum(str1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
sum([1,2,3])

6

**sorted**

In [23]:
sorted('python')#ascending order

['h', 'n', 'o', 'p', 't', 'y']

- sorted givs ascending order based on ascii values
- sorted is a kind of a function
- every function we have arguements
- in that one default arguement is **revrse=False**
- by default sorted output gives **ascnding order**
- we can change the order, by providing **reverse=True**
- **if we do not mention, it will give the default answer**

In [24]:
sorted('python',reverse=True)#descending order

['y', 't', 'p', 'o', 'n', 'h']

In [25]:
complex()

0j

In [26]:
complex(10,20)

(10+20j)

In [27]:
complex(real=10,imag=20)

(10+20j)

In [28]:
import random
random.randint()

TypeError: randint() missing 2 required positional arguments: 'a' and 'b'

In [30]:
function()#answer
function(a,b)#might shows error
function(a=10,b=20)#answer

NameError: name 'function' is not defined

In [32]:
import random
random.random()#we will get answer but anser is not in our hands

0.6050623580244421

In [33]:
import random
random.randint(10,20)#answer we can change

20

In [34]:
complex()# by default 0,0

0j

In [35]:
complex(10,20)

(10+20j)

In [36]:
sorted(iterable='python')#error
random.randint(10,20)#answer

TypeError: sorted expected 1 argument, got 0

**note**
- we have arguement before and after"/" (slash)
- we can use the arguement names after/ only
- for example sorted has two arguements one is iterable and another one is reverse
- iterable is mentioned before / symbol
- reverse is mentioned after / symbol
- so we can use only reverse arguement name while we are doing the work
- we can not use iterable arguement nname 
- instead of using iterable name, we can provide direct valu at that position

**reversed**

In [38]:
reversed('python')

- it shows that i already done your out put is stored in that loacation
- whenever we see this type of answer less than or greater than symbol or memory
- use for loop to se the answer

In [40]:
str1='python'
output=reversed(str1)
for i in output:
    print(i, end=" ")

n o h t y p

In [41]:
str1='python'
output=sorted(str1)
for i in output:
    print(i, end=" ")

h n o p t y

In [4]:
sorted('naresh',reverse=True)

['s', 'r', 'n', 'h', 'e', 'a']

In [6]:
for i in reversed('naresh'):
    print(i,end=' ')

h s e r a n

In [7]:
sorted([1,10,2,20,30])

[1, 2, 10, 20, 30]

In [8]:
sorted([1,10,2,20,30], reverse=True)

[30, 20, 10, 2, 1]

# in

In [9]:
str1="naresh"
'n' in str1

True

In [11]:
str1="naresh"
'n' not in str1

False

In [12]:
str1="naresh"
'ns' not in str1

True

**note**
- in operator directly access the letters

In [18]:
#1)wap ask the user count how many 'a' are present in a given string 
#str1='hai naresh how are you'
#idea: counter wrapper
#step1:- count=0
#step2:- using for loop in oprator iterate through gven string
#step3:- apply the if condition, whenever the letter equal to 'a'
#step:- count=count+1



str1='hai naresh how are you'
count=0
for i in str1:
    if i=='h':
        count=count+1
print("the count of 'h' is",count)

the count of 'h' is 3

In [20]:
#2)wap ask the user find vowels are there in a givn string
str2='hai naresh how are you'
count=0
for i in str2:
    if i=='a' or i=='e' or i=='i' or i=='o'or i=='u':
        count=count+1
print("the count of vowels is",count)

the count of vowels is 9

In [21]:
str2='hai naresh how are you'
count=0
for i in str2:
    if i in 'aeiou':
        count=count+1
print("the count of vowels is",count)

the count of vowels is 9

In [24]:
#3) home work question
#str1='hai naresh how are you'
#repeated vowels are there
#we dont want repeated vowls
#count th vowels avoid the repetition: unique vowels
#stp1:- count=0
#step2:- take one more empty string s2=""
#step3:- using for loop in operator itereate through given string
#step4:- condition-1: that letter should not available in s2
#step5:- condition2:- vowl check condition
#step6:- count=count+1
#step7:- update the s2 s2=s2+<letter>
str1="naresh how are you"
s2=''
count=0
for i in str1:
    if i not in s2:
        if i in "aeiou":
            s2=s2+i
            count=count+1                  #concatenation
print(s2)
print(count)

aeou
4

In [25]:
s1='hello'
s2='bye'
s1+s2

'hellobye'

In [27]:
s1='hello'
s2='bye'
s3='  '
s1+s3+s2

'hello  bye'

In [28]:
#concatination is a process which is used to add the strings

In [29]:
s1='hello'
s2='bye'
s1*s2

TypeError: can't multiply sequence by non-int of type 'str'

In [30]:
s1='hello'
s2='bye'
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [31]:
s1='hello'
s2='bye'
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [32]:
s1='hello'
s2=2
s1*s2

'hellohello'

**index**
- index meaning a number attached to a letter
- in python index starts with a zero
- we have two directions
   - positive direction
   
      - positive numbers starts with zero
   - negative direction
      - negative number starts with -1, applicable to last letter

In [ ]:
s1='python'
-6      -5       -4      -3       -2          -1          =========>negative
p       y        t       h         o           n
0       1        2       3         4           5          ==========>positive

In [35]:
s1="python"
s1[0],s1[1],s1[2], s1[3],s1[4], s1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [38]:
s1="python"
s1[-1],s1[-2], s1[-3],s1[-4], s1[-5],s1[-6]

('n', 'o', 'h', 't', 'y', 'p')

# **mutable concept and immutable concept**

- mutable: it can change
- we can change using indexing
- immutable: can not change
- we can not change using indexing   
- strings are immutable

In [1]:
s='welcome'
#i want to replace 'l' with 'L'
#possible
#not possible
s[3]

'c'

In [2]:
s='welcome'
s[3]='L'

TypeError: 'str' object does not support item assignment

# strings are immutable

In [3]:

l=[1,2,3,4]
l[1]=200
l

[1, 200, 3, 4]

# lists are mutable

In [4]:
#4) print each ltter using for loop range 
s='welcome'
for i in s:
    print(i)

w
e
l
c
o
m
e

In [7]:
s='welcome to naresh it'
n=len(s)
#range belongs to which family
#insid bracket we nedto provid a number
#how many numbers we need to provide
#no of letters=7
#how to access a letter using a numbr:
for i in range(n):
    print(s[i])

w
e
l
c
o
m
e

t
o

n
a
r
e
s
h

i
t

- range belongs to which family
  - math family
- inside bracket what we need to provide
  - number
- how many numbers we need to provide
  - number of letter: len(string)
- how to access a letter using a number:
  - by using index

- **For- in ** directly access the letter
- ** for- range** will accessing using index

In [8]:
s="navya sri"
for i in s:
    print(i)

n
a
v
y
a

s
r
i

In [9]:
s="navya sri"
m=len(s)
for i in range(m):
    print(s[i])

n
a
v
y
a

s
r
i

In [10]:
s="navya sri"
for i in range(len(s)):
    print(s[i])

n
a
v
y
a

s
r
i

In [17]:
#5) wap ask the user iterate using a string
#string='welcome'
#print the positive index of w is 0
#the positive index of e is w
#the negative index of e is -6
#the negative index of l is -5
string='welcome'
for i in range(len(string)):
    print(i,string[i])
    print(f"the positive index of {string[i]} is {i}")

0 w
the positive index of w is 0
1 e
the positive index of e is 1
2 l
the positive index of l is 2
3 c
the positive index of c is 3
4 o
the positive index of o is 4
5 m
the positive index of m is 5
6 e
the positive index of e is 6

In [18]:
string='welcome'
for i in range(len(string)):
    print(i,i-len(string),string[i])
    print(f"the negative index of {string[i]} is {i-len(string)}")

0 -7 w
the negative index of w is -7
1 -6 e
the negative index of e is -6
2 -5 l
the negative index of l is -5
3 -4 c
the negative index of c is -4
4 -3 o
the negative index of o is -3
5 -2 m
the negative index of m is -2
6 -1 e
the negative index of e is -1

In [20]:
#8) wap ask the user get the index of each 'a' in a given string
#s='hai how are you i am good'
s='hai how are you i am good'

for i in range(len(s)):
    if s[i]=='a':
        print(f"the index of {s[i]} is {i}")

the index of a is 1
the index of a is 8
the index of a is 18

In [21]:
#9)count of'a'
s='hai how are you i am good'
count =0
for i in range(len(s)):
    if s[i]=='a':
        count=count+1
print("count of a",count)

count of a 3

In [22]:
#10) sum of all index numbers of'a'
s='hai how are you i am good'
sum=0
for i in range(len(s)):
    if s[i]=='a':
        print(f"the index of {s[i]} is {i}")
        sum=sum+i
print("the sum of indexes of a: ",sum)

the index of a is 1
the index of a is 8
the index of a is 18
27

In [25]:
#11)vowels from a given string using for- range
s='hai how are you i am good'
for i in range(len(s)):
    if s[i] in 'aeiou':
        print(f" {s[i]} is {i}")

 a is 1
 i is 2
 o is 5
 a is 8
 e is 10
 o is 13
 u is 14
 i is 16
 a is 18
 o is 22
 o is 23

In [30]:
#12) unique vowels
s='hai how are you i am good'
count=0
st=''
for i in range(len(s)):
    if s[i] not in st:
        if s[i] in 'aeiou':
            print(s[i],end=' ')
            st=st+s[i]
            count=count+1
print("\ncount of unique vowels",count)

a i o e u
count of unique vowels 5

In [31]:
s='hai how are you i am good'
count=0
st=''
for i in range(len(s)):
    if s[i] not in st and s[i] in 'aeiou':
        
        print(s[i],end=' ')
        st=st+s[i]
        count=count+1
print("\ncount of unique vowels",count)

a i o e u
count of unique vowels 5

In [ ]:
#14) string1='ola ola ola'
#number of ola's

#15) string1="hello hello hello how how how how are you"
#answer : how
# most repeated words

#16)string1='heloooooooooooo how aree u'
#maximum length of word is 'hellooooooooo'
#minimum length of word is 'u'


#17)without using sorted method then sort the letters

In [33]:
sg='ola ola ola'
count=0
si=input() 
for i in range(len(sg)):
    if si in sg:
        count=count+1
print(count)

ola
11

# **slice**

- we can cut into pieces
- similar to range concept
- start, stop, step here also

In [ ]:
str1='navya'

In [ ]:
1   2   3   4  5
n   a   v   y  a
-5 -4  -3  -2  -1

In [ ]:
str1[start:stop:step]

$pattern-1$

In [3]:
str1="navya sri reddy lakku"

In [4]:
str1[-5:21]

'lakku'

In [5]:
str1[5:21]

' sri reddy lakku'

In [6]:
str1[5:-21]

''

In [7]:
str1[-5:-21]

''

In [8]:
str1[1:21:2]

'ay r ed ak'

In [9]:
str1[-1:-10:2]

''

In [10]:
str1[1:-10:2]

'ay r '

In [11]:
str1[-1:10:2]

''

In [12]:
str1[1:10:2]

'ay r '

In [13]:
str1[1:10:-2]

''

In [1]:
13-07-2024

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1571813932.py, line 1)

$Pattern-2$

str1[start:stop]

- start value means by default start only

- step is not mentioned postive direction 

- last = stop-1

In [2]:
#-15  -14  -13  -12  -11  -10  -9  -8   -7  -6  -5  -4  -3  -2  -1
# h    a     i        h    o    w       a   r    e        y   o  u
# 0    1     2   3    4    5    6   7   8   9   10   11  12  13  14 

str1='hai how are you'
str1[5:14]

'ow are yo'

In [3]:
str1[-5:14]
# start=-5 
# last = 14-1 =13   positive

'e yo'

In [4]:
str1[-5:14]

'e yo'

In [5]:
str1[-5:-14]   #  Postive

''

**Truncation behaviour**

- when ever string range is limited, but we provided unlimited number

- string will consider till the range we have

- In the above example our range only 15 letters

- we provided 500 , then 500 will truncate to till 15 letters only

In [9]:
str1[5:500] #  Answer
str1[-500:500] # Answer
str1[-1:500]  # Answer
str1[500:]    # no answer
str1[-500:-100] # No answer

''

In [6]:
#-15  -14  -13  -12  -11  -10  -9  -8   -7  -6  -5  -4  -3  -2  -1
# h    a     i        h    o    w       a   r    e        y   o  u
# 0    1     2   3    4    5    6   7   8   9   10   11  12  13  14 
str1='hai how are you'  # step is mentioned or not mentioned
str1[5:14],   # Answer
str1[-5:14],  #  Answer
str1[5:-14],  # No answer
str1[-5:-14]  # No answer

''

$Pattern-3$
**str1[start:stop:step]**

- start value means start only

- If step value positive

    - last value= stop-1

- If step value negative

    - last value=stop+1

In [7]:
len(str1)

15

In [8]:
str2='yeshwanth'

y  e  s  h  w  a  n  t h
0  1  2  3  4  5  6  7 8

SyntaxError: invalid syntax (4045761963.py, line 3)

In [11]:
#-15  -14  -13  -12  -11  -10  -9  -8   -7  -6  -5  -4  -3  -2  -1
# h    a     i        h    o    w       a   r    e        y   o  u
# 0    1     2   3    4    5    6   7   8   9   10   11  12  13  14 

str1[2:13:2]  # P
str1[2:13:-2] # NP 
str1[2:-13:2] # NP (CHECK)  str1[2:-13]  str1[2:3:2]  str1[2:2]
str1[2:-13:-2] # NP (CHECK)
str1[-2:13:2]  # NP (CHECK)
str1[-2:-13:2] # NP
str1[-2:-13:-2] # P
str1[13:2:2] # NP
str1[-13:2:2] # NP (CHECK)
str1[-13:-2:2] # P
str1[-13:-2:-2] # NP
str1[-13:2:-2]  # NP(CHECK)

''

==================== PART-1=====================================
- Intiaization

- type

- len

- max

- min

- sorted

- reveresed

- in

- for loop using in

- index

- for loop using index

- mutable

- concatenation

- slice

#================== PART-2=====================
# Methods

In [13]:
#-15  -14  -13  -12  -11  -10  -9  -8   -7  -6  -5  -4  -3  -2  -1
# h    a     i        h    o    w       a   r    e        y   o  u
# 0    1     2   3    4    5    6   7   8   9   10   11  12  13  14 

str1[:5:-2]  # start value  -1

'uyeaw'

In [14]:
str1[-13:2:2]  # postive direction    start value :0

''

In [15]:
str1[:]  # Complete string
str1[::] # Complete string
str1[<start>::-1] # Reveres  start value=-1
str1[<start>:5:-2]

SyntaxError: invalid syntax (3082723056.py, line 3)

**Methods**

- Strings lists tuple dictionary every data type has its own methods

- We already seen that packages has different method

- For example random package :  randint method

- Math package : sqrt

- In the same way strings also have methods

- In order to see methods for the packages

    - we are importing the package

    - we are applying dir

- In the similar way in order to see the methods of string , we need to apply dir only

In [16]:
dir('')  
# dir('hai')
# str1='apple'
# dir(str1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

- lower

- upper

- capitalize

- Title

- casefold

- Center

**upper**

In [17]:
str1='hai how are you'

In [18]:
type(str1)
help(str1.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [19]:
str1.upper()

'HAI HOW ARE YOU'

In [20]:
str1.upper()

'HAI HOW ARE YOU'

In [21]:
str1='hai how are you'
str1.upper()

'HAI HOW ARE YOU'

**lower**

In [22]:
help(str1.lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

In [23]:
str1.lower()

'hai how are you'

**capitalize**

In [24]:
str1.capitalize()

'Hai how are you'

**casefold**

In [25]:
str1.casefold()

'hai how are you'

**Title**

In [26]:
str1.title()

'Hai How Are You'

In [ ]:
# str1='hai how are you'
# o/p = 'Hai How Are You'  
# with out using any method
# One more level : iterate each letter apply capitalize
# scratch : ord char

**center**

In [27]:
str1.center(20)

'  hai how are you   '

In [28]:
len(str1.center(20))

20

- center has two arguments

    - width

    - fill char

- original string alread : 15 lettters

- we want to create a new string with 20 letters

- Remaining 5 letters by default empty

- we can fill with charcters also

In [29]:
str1.center(26,'*')

'*****hai how are you******'

In [30]:
str1.center()

TypeError: center expected at least 1 argument, got 0

- upper 

- lower

- casefold

- Title

- Capitalize

- Center

# count

In [14]:
str1="hai how are you"
#how many 'a' s are there

In [17]:
count=0
for i in str1:
    if i=='a':
        count=count+1
print(count)

2

In [16]:
str1.count('a')

2

In [25]:
str1.count()

TypeError: count() takes at least 1 argument (0 given)

In [19]:
str1="hai how are you"
str1.count('a')

2

In [21]:
str1='hai hai hai'
str1.count(str1[10])

3

- we want number from a specific index
- we want number between two indexes

In [22]:
str1.count('a',3)

2

In [23]:
str1.count('a',5)

2

In [ ]:
#here we are searching number of 'a' s from a particular index

In [26]:
str1.count('a',5,8)#between two indexes

1

In [27]:
#reverse 
str1.count('a',-5,-8)

0

In [28]:
str1.count('a',-8,-5)

1

In [29]:
str1='ola ola ola'
str1.count('ola')

3

In [ ]:
#in interviews they ask without using methods

In [32]:
str2='ola ola ola'
count=0
for i in str2:
    if i=='ola':
        print(i)

In [ ]:
#window method

In [33]:
str2[i:i+3]
str2[0:3] #i=0
str2[1:4]#i=1

TypeError: can only concatenate str (not "int") to str

In [34]:
str1='ola ola ola'
count=0
for i in range(len(str1)):
    if str1[i:i+3]=='ola':
        count=count+1
print(count)

3

In [35]:
str1='ola ola ola'
str1.count('ola ola')

1

In [36]:
str1='ola ola ola'
str1.count('ola ola ola')

1

In [37]:
str1='ola ola ola'
str1.count(str1)

1

**Window method**

In [ ]:
str1[i:i+3]
i=0   str1[0:3]  === > ola
i=1   str1[1:4]  ==== > la 
i=2

In [31]:
str1='ola ola ola'
count=0
for i in range(len(str1)):
    if str1[i:i+3]=='ola':
        count=count+1

# step-1: count=0   i =0  str1[0:3]=='ola'  True  count=1
# step-2:           i=1   str1[1:4]=='ola'  F

In [32]:
str1='ola ola ola'
str1.count('ola ola ola')

1

In [33]:
str1='ola ola ola'
str1.count(str1)

1

In [34]:
str1.count('z')
# No answer ''
# Error
# 0
# NT

0

**replace**

In [39]:
str1='welcome'
#want to replace 'l' with 'L'
#we know that strings are immutable
#we cannot use index operations also
#slice and concatenation
#divide we come
#s1='we'
#s2='come'
#s1+'L'+s2
s1=str1[0:2]
s2=str1[3:]
ans= s1+"L"+s2
ans

'weLcome'

In [40]:
ord('l')

108

In [41]:
chr(ord('l')-32)

'L'

In [43]:
str1='welcome'
str1.replace('l','L')

'weLcome'

In [44]:
str1='wellcome'
str1.replace('l','L')

'weLLcome'

In [45]:
str1='wellcome'
str1.replace('l','L',1)

'weLlcome'

In [46]:
#when we write count=1
#it will change only one letter
#that to first occurrencee only

In [51]:
str1='restart'
str1.replace('r','$',1)

'$estart'

In [54]:
str1='restart'
s1=str1[0:5]
s2=str1[5:]
print(s1+s2.replace('r','$',1))

resta$t

In [55]:
str1='restart'
s1=str1[:1]
s2=str1[1:]
print(s1+s2.replace('r','$'))

resta$t

In [57]:
str1='restart'
str1[::-1].replace('r','$',1)[::-1]

'resta$t'

In [59]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

- By defualt replace will change all the occurences

- count= -1  is responsible for that

- whcih means we can provide some count also, which how many I want to change

- Give welllcome  and change count=1  and count=2 explore it

In [35]:
str1='welllcome'
str1.replace('l','L',1)  # old='l', new ='L'  count=1

# when we write count=1 
# It will change only one letter
# that to first occurence only

'weLllcome'

In [36]:
str1='welllcome'
str1.replace('l','L',2)

'weLLlcome'

In [37]:
# Str1='restart'
# i/p= 'resta$t'
str1='restart'
s1=str1[:1]
s2=str1[1:]
s3=s2.replace('r','$')
s1+s3

'resta$t'

In [ ]:
Q. Why is replacing -1 is replaced at all places. str1='welllcome'
str1.replace('l','L',-1)
# Flag=-1  True Flase ALL N

In [38]:
str1='restart'  # This case
str1[::-1].replace('r','$',1)[::-1]

'resta$t'

**index-find**

- Upper

- lower

- casefold

- title

- capitalize

- count

- replace

- index-find

- split

- strip

- startswith

In [ ]:
'isalnum',
'isalpha',
'isascii',
'isdecimal',
'isdigit',
'isidentifier',
'islower',
'isnumeric',
'isprintable',
'isspace',
'istitle',
'isupper',

In [39]:
str1='HELLO'
str1.isupper()

True

In [40]:
str1='hello'
str1.isupper()

False

**Index**

- index says that it will give the index of any letter in a given string

- we already seen about count: Count will give how many letters are there in a string

    - at what index you want to count
 
    - between indexes also we can count the letters
 
- index meaning it will provide the index

- imagine that there same letters repeated

- how can we find the next index

In [41]:
#h  a   i     h   a  i    h  a  i
#0  1   2  3  4  5  6  7 8 9 10
str1= 'hai hai hai'
str1.index('a')
# Return the lowest index in S where substring sub is found,

1

In [42]:
# I want to know next 'a' index after 3rd index
str1= 'hai hai hai'
str1.index('a',3)

5

In [43]:
# I want to know 'a' index between 3rd and 7th index
#h  a   i     h   a  i    h  a  i
#0  1   2  3  4  5  6  7 8 9 10
str1= 'hai hai hai'
str1.index('a',3,7)

5

In [44]:
# I always a Return a lowest index only
str1= 'hai hai hai'
str1.index('a')      # among all the indexes the lowset index is '1' 

str1= 'hai hai hai'
str1.index('a',3)   # after 3rd index the lowset index of a is '5'

str1= 'hai hai hai'
str1.index('a',3,7)  # Between 3-7 index the lowset index is '5' only

5

In [45]:
str1= 'hai hai hai'
str1.index('a',-3,-1)      # among all the indexes the lowset index is '1'

9

In [46]:
# -11  -10   -9  -8  -7  -6  -5  -4  -3  -2  -1
# h     a     i       h   a  i        h   a   i
# 0     1     2  3    4   5  6   7     8  9 10

str1= 'hai hai hai'
str1.index('a',-9,-4)      # among all the indexes the lowset index is '1'

5

In [47]:
str='hai hai hai'
print(str.index('a',-9,-6))
# Postive direction
# start= start = -9
# last =end-1 = -6-1= -7
# -9 -8 -7
#  i     h  
# there is no 'a'

ValueError: substring not found

In [48]:
# -11  -10   -9  -8  -7  -6  -5  -4  -3  -2  -1
# h     a     i       h   a  i        h   a   i
# 0     1     2  3    4   5  6   7     8  9 10
str1= 'hai hai hai'
print(str1.count('a')) 
print(str1.count('a',3))
print(str1.count('a',3,7))

3
2
1

In [49]:
# -11  -10   -9  -8  -7  -6  -5  -4  -3  -2  -1
# h     a     i       h   a  i        h   a   i
# 0     1     2  3    4   5  6   7     8  9 10
str1= 'hai hai hai'
print(str1.index('a')) 
print(str1.index('a',3))
print(str1.index('a',3,7))

1
5
5

In [50]:
Sir, yesterday assignment methods are string methods right? 
Why those are not visible in string package? Those are visible with dir('') not with dir(string)

import string
name='praveen'
dir(name)  
dir(string)

SyntaxError: invalid syntax (1864713081.py, line 1)

In [51]:
str1='hai hai hai'
# I want to know all the indexes of 'a'
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)

1
5
9

In [52]:
# h     a     i       h   a  i        h   a   i  hai
# 0     1     2  3    4   5  6   7     8  9 10
str1='hai hai hai hai'
i1=str1.index('a')
print(i1)
i2=str1.index('a',i1+1)
print(i2)
i3=str1.index('a',i2+1)
print(i3)
i4=str1.index('a',i3+1)
print(i4)

1
5
9
13

In [53]:
# Home work Implement above logic to get all the indexes
# h     a     i       h   a  i        h   a   i  hai
# 0     1     2  3    4   5  6   7     8  9 10
str1='hai hai hai hai'
i1=str1.index('a')
print(i1)  # 1
i2= str1.index('a',i1+1)
print(i2)  #  5
i3= str1.index('a',i2+1)
print(i3)
i4= str1.index('a',i3+1)
print(i4)
i5= str1.index('a',i4+1)
print(i5)

1
5
9
13

ValueError: substring not found

**Find**

In [54]:
str1='hai hai hai hai'
i1=str1.find('a')
print(i1)  # 1
i2= str1.find('a',i1+1)
print(i2)  #  5
i3= str1.find('a',i2+1)
print(i3)
i4= str1.find('a',i3+1)
print(i4)
i5= str1.find('a',i4+1)
print(i5)

1
5
9
13
-1

In [55]:
str1.index()  # Raises ValueError when the substring is not found.
str1.find()  # Return -1 on failure.

TypeError: index() takes at least 1 argument (0 given)

In [56]:
str1='hai hai hai'
str1.count('z')

0

In [57]:
str1='hai hai hai'
str1.replace('z','Z')

'hai hai hai'

- If substring not found

- Count method will give zero

- Replace method will give original string

- Index will give **sub string not found error**

- Find will give -1

In [58]:
str1='omkar.nallagoni@cognizant.com'
# Fisrt name= omkar
# second name= nallagoni
# company name= cognizant
str2='virat.kohli@rcb.com'
str3='rohit.sharma@mi.com'
str4='a.b@c.com'

# Idea : find the triggers
# For first name  .
# second name    .  and @
# Compnay name    @ and second .
# i1= first dot index
# i2= @ index
# i3= second index

In [59]:
str1='omkar.nallagoni@cognizant.com'
i1=str1.index('.')
i2=str1.index('@')
i3=str1.index('.',i1+1)
first_name=str1[:i1]
second_name=str1[i1+1:i2]
cname=str1[i2+1:i3]
first_name,second_name,cname

('omkar', 'nallagoni', 'cognizant')

- count

- replace

- find

- index

- Upper/lower/casefold

- Capitalize/Title

- Center

- Count

- Replace

- index/find

- start with is

- split

- strip/lstrip/rstrip

- startswith/endswith